################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/model/entity/__history
/model/entity/implementation/__history
/.vs
/__history
